[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "==1.5.1"
pynput = "==1.7.3"
PyYAML = "==5.4.1"
python-ev3dev2 = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.9"
