:root {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-group label, .form-group input {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group label {
    margin-bottom: 5px;
    flex-basis: 100%;
}

.form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
    outline: transparent;
}

.form-group input:focus {
    border-color: #aaa;
}

.form-group input:not(.additional) {
    flex: 1;
}

.form-group input:not(:last-child) {
    margin-right: 10px;
}

.state-divs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.state-div {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    background-color: white;
}

.state-div:not(.active) {
    display: none;
}

#disconnected-state {
    width: 650px;
}

#camera-feed {
    width: 800px;
}