:root {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-group label, .form-group input {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group label {
    margin-bottom: 5px;
    flex-basis: 100%;
}

.form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
    outline: transparent;
}

.form-group input:focus {
    border-color: #aaa;
}

.form-group input:not(.additional) {
    flex: 1;
}

.form-group input:not(:last-child) {
    margin-right: 10px;
}

button {
    outline: transparent;
    border: none;
    background: green;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: darkgreen;
}

button:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.state-divs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.state-div {
    border-radius: 5px;
    padding: 16px;
    background-color: white;
}

.state-div:not(.active) {
    display: none !important;
}

#disconnected-state {
    width: 650px;
}

#connected-state {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#camera-feed {
    height: 700px;
    width: 500px;
}

#camera-feed .feed-title {
    width: 500px;
    right: auto;
}

.video-feed {
    position: relative;
}

.video-feed .feed-title {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
}

#camera-feed img {
    transform-origin: top left;
    transform: rotate(90deg) translateY(-500px);
    width: 700px;
    height: 500px;
    object-fit: contain;
    object-position: 0 0;
}

#control-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

#control-bar .info-items {
    display: flex;
}

#supervision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#supervision-container .video-feed {
    width: 300px;
}

#supervision-container .video-feed img {
    width: 100%;
    height: 100%;
}

#movement-states {
    --icon-size: 100px;
    margin-top: 40px;
    width: calc(3 * var(--icon-size));
    height: calc(3 * var(--icon-size));
    position: relative;
}

.movement-state {
    width: var(--icon-size);
    height: var(--icon-size);
    --rotation: 0deg;
    --top: 0;
    --left: 0;
    --opacity: 0;
    --key-x: 0;
    --key-y: 0;
    position: absolute;
    top: var(--top);
    left: var(--left);
}

.movement-state .key {
    position: absolute;
    top: var(--key-y);
    left: var(--key-x);
    font-weight: bold;
    color: white;
    background-color: #757575;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
}

.movement-state svg {
    transform: rotate(var(--rotation));
}

.movement-state svg .icon-bg {
    fill: rgba(0, 128, 0, var(--opacity));
}

#movement-forward {
    --left: var(--icon-size);
    --key-x: 35px;
    --key-y: -25px;
}

#movement-backward {
    --left: var(--icon-size);
    --top: calc(2 * var(--icon-size));
    --rotation: 180deg;
    --key-x: 35px;
    --key-y: 62px;
}

#movement-left {
    --top: var(--icon-size);
    --rotation: 270deg;
    --key-x: -7px;
    --key-y: 18px;
}

#movement-right {
    --top: var(--icon-size);
    --left: calc(2 * var(--icon-size));
    --rotation: 90deg;
    --key-x: 78px;
    --key-y: 18px;
}

#arm-down {
    --top: calc(var(--icon-size) * 2);
    --key-x: -7px;
    --key-y: 62px;
}

#arm-up {
    --top: calc(var(--icon-size) * 2);
    --left: calc(var(--icon-size) * 2);
    --key-x: 78px;
    --key-y: 62px;
}

.hbox {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.hbox > div {
    flex: 1;
}

.info-item:not(:last-child) {
    margin-right: 20px;
}

.info-item p {
    margin: 0;
}

.info-item .info-label {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
    margin-bottom: .25em;
}

.ai-switch-container {
    position: relative;
}

/* Switch CSS: https://codepen.io/Qvcool/pen/bdzVYW */
.ai-switch-container input {
    margin: 0px;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: red;
    width: 40px;
    height: 20px;
}

.ai-switch-container input:checked + label::before {
    /* unchecked */
    background-color: green;
    content: "";
    padding-left: 6px;
}

.ai-switch-container input:checked + label::after {
    left: 21px;
}

.ai-switch-container label {
    position: relative;
    padding-left: 46px;
}

.ai-switch-container label::before,
.ai-switch-container label::after {
    position: absolute;
    border-radius: 10px;
    transition: background-color 0.3s, left 0.3s;
}

.ai-switch-container label::before {
    /* checked */
    content: "";
    box-sizing: border-box;
    padding-left: 23px;
    font-size: 12px;
    line-height: 20px;
    background-color: #757575;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 40px;
    border-radius: 10px;
}

.ai-switch-container label::after {
    content: "";
    letter-spacing: 20px;
    background: #fff;
    left: 1px;
    top: 1px;
    height: 18px;
    width: 18px;
}
